body {
    margin: 0%;
    padding: 0%;
    background-size: 100%;
    background-image: url(login-ft.jpg);
    background-position: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.box {
    border-radius: 10px;
    margin-right: 47px;
    width: 400px;
    height: 500px;
    background-color: #89524D;
    border-left: 1px solid #985E5A;
}

form {
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    display: grid;
}

.ipse {
    margin-top: 5%;
}

.eqc:hover,
.eqc:focus {
    text-decoration: underline;
}

.sb {
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 12px 37%;
    border: none;
    margin: 5px;
    margin-top: 20px;
    background-color: #E8DDB5;
    color: #683F3B;
    font-size: medium;
    transition: background-color 1s;
}

.sb:hover,
.sb:focus {
    color: #fdfdff;
    background-color: #0F0F0F;
}

.img {
    width: 64%;
    margin: 0%;
}

.container img {
    animation: bounce 1.5s alternate;
}

@keyframes bounce {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.svgI {
    color: #fdfdff;
    width: 130px;
    height: 130px;
    margin-left: 75px;
}

.svgE {
    color: #683F3B;
    width: 20px;
    height: 20px;
}

.svgS {
    color: #683F3B;
    width: 19px;
    height: 19px;
}

.eqc {
    color: #341F1D;
    text-decoration: none;
}

.cadastro {
    color: #0F0F0F;
    right: 51.5rem;
    bottom: 25%;
    position: absolute;
    font-size: 16px;
}

.cadastro a {
    color: #341F1D;
    text-decoration: none;
}

.cadastro a:hover,
a:focus {
    text-decoration: underline;
    color: #0F0F0F;
}